[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:Bogdanp/hugo-theme-even
